* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    min-height: 100%;
}


#layer1{
    display: none;
}

/* body{
    display: flex;
    align-items: center;
    justify-content: space-around;
} */

#startGame{
    border: none;
    width: 200px;
    border-radius: 10px;
    background-color: rgba(127, 222, 222, 0.692);
    font-size: 24px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif11;
    padding: 10px 20px;
   transition: all 0.45s;
}
#startGame:hover{
    background-color:rgba(90, 162, 162, 0.599);
}